.about_us {
    padding: 95px 0;
    .about_main {
        .about_sub {
            font-size: 18px;
            font-weight: 600;

        }
        .about_head {
            margin-top: 14px;
            margin-bottom: 26px;
            font-size: 35px;
            font-weight: 700;
            span {
                color: #eb1b2b;
            }
        }
        .aboutPrea {
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 20px;

        }
        .aboutPrea2 {
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 40px;
        }
        
    }
    .about_imgs {
        img {
            width: 100%;
            height: auto;
        }
        
    }
   
}