.election_worp {
    background-image: url(../imgs/clock.jpg);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 95px 0 0px;
    .media_header {
        
        .media_hed {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 3px;
            text-transform: capitalize;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
        }
        .img_star {
            margin-bottom: 9px;
            color: #fff;
        }
        .electio_prag {
            max-width: 552px;
            width: 100%;
            color: #fff;
            margin: 0 auto;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 49px;
        }
    }
}