.brand_worp {
    padding: 90px 0;
    overflow: hidden;
    .brand_item {
        text-align: center; 
        outline: none;
        img {
            padding: 10px 10px;
            transition: all 0.5s;
            outline: none;
            margin: 0 auto;
            &:hover {
                transform: scale(1.1);
            }
        }
        
    }
    button.slick-prev {
        z-index: 3;
        width: 40px;
        height: 40px;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        left: -35px;
    }
    button.slick-next {
        z-index: 3;
        width: 40px;
        height: 40px;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        right: -35px;
        
    }
    button,
    .slick-next,
    .slick-prev {
        &::before {
            font-family: 'FontAwesome';
            border: 1px solid #eb1b2b;
            padding: 10px;
            border-radius: 40px;
            font-size: 20px;
            transition: all 0.5s;
            color: #eb1b2b;
        }
        &:hover {
            &::before {
                background-color: #eb1b2b;
                color: #fff;
            }
            
        }
    }

    &:hover {
        button.slick-prev {
            z-index: 3;
            left: -25px;
            opacity: 1;
            z-index: 1;
            visibility: visible;
        }
        button.slick-next {
            z-index: 3;
            right: -25px;
            opacity: 1;
            z-index: 1;
            visibility: visible;
        } 
    }
   
}