.brand_worp {
    padding: 90px 0;
    overflow: hidden;
    .brand_item {
        text-align: center; 
        outline: none;
        img {
            padding: 10px 10px;
            transition: all 0.5s;
            outline: none;
            margin: 0 auto;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .slick-next{
        transition: all 0.5s;
        right: -40px;
        &::before {
            content: '→';
            font-family: 'fontawesome';
            border-radius: 50px;
            border: 1px solid #eb1b2b;
            font-size: 25px;
            color: #eb1b2b;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            transition: all 0.5s;
        }  
        &:hover{
            &::before {
                background-color: #eb1b2b;
                border-color: #eb1b2b;
                color: #fff;
            }
            
        }
    }
    .slick-prev {
        transition: all 0.5s;
        left: -60px;
        &::before {
            content: '←';
            font-family: 'fontawesome';
            border-radius: 50px;
            border: 1px solid #eb1b2b;
            font-size: 25px;
            color: #eb1b2b;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            transition: all 0.5s;
        }
        &:hover{
            &::before {
                background-color: #eb1b2b;
                border-color: #eb1b2b;
                color: #fff;
            }
            
        }

    }
   

}